---
import BaseLayout from "../layouts/BaseLayout.astro";

const res = await fetch("http://localhost:4321/api/tils");
const { data, error } = await res.json();
---

<BaseLayout>
  <div class="container py-4">
    <h1>Astro TIL</h1>
    <ul>
      {
        data.map((til: any) => (
          <li>
            <a href={`/tils/${til.id}`}>{til.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
