---
import Heading from "@/components/ui/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { id } = Astro.params;

const res = await fetch(`http://localhost:4321/api/tils/${id}`);
const { data, error } = await res.json();
---

<BaseLayout>
  <Heading level="h1" size="lg">
    {data.title}
  </Heading>
  <p>{data.text}</p>
</BaseLayout>
