---
import Input from "@ui/Input.astro";
import TextArea from "@ui/TextArea.astro";
import Button from "@ui/Button.astro";
---

<form class="grid gap-4 max-w-md">
  <Input label="Title" autofocus />
  <TextArea label="Description" />
  <Button>Add TIL</Button>
</form>
